.container{
  max-width: 800px;
  margin: 0px auto;
}

header{
  margin: auto 0px;
  height: 50px;
  background: #666;
  font-size: 1.3rem;
  color: whitesmoke;
}

header nav{
  height: 100%;
  padding-top: 13px;
}

.container section{
  margin: 50px 0px;
}

footer{
  padding: 10px;
  height: 100px;
  background: #666;
  color: whitesmoke;
  font-style: oblique;
}

main section{
  line-height: 1.6;
  text-align: justify;
}

img{
  margin-top: 50px;
  margin-left: 130px;
}