div{
  background: red;
  margin: 10px auto;
  width: 30px;
  height: 30px;
}

.teste{
  background: green;
}

#id{
  background: black;
}

* {
  background: grey;
}

div.teste#id{
  background: pink;
}

#id div.teste div{
  background: purple;
}

#teste3 div.teste ~ div{
  background: blueviolet;
}

