.container{
  max-width: 800px;
  margin: 0px auto;
}

header{
  background: rgb(105, 29, 29);
  min-height: 80px;
  display: flex;
  justify-content: center;
}

header img{
  padding: 15px;
  width: 70px;
}

body{
  background: rgb(231, 186, 186);
}

main section img{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: dotted;
}

main section{
  margin: 50px auto;
}

main section.texto{
  text-align: justify;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  white-space: initial;
  color: rgb(105, 29, 29);
}

footer{
  background: rgb(105, 29, 29);
  min-height: 80px;
}

footer nav{
  padding: 10px 10px 10px 10px;
  text-align: right;
  color: rgb(231, 186, 186);
}

.titulo{
  background: rgb(226, 64, 64);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 50px;
  text-align: center;
  padding-top: 27px;
  color: rgb(231, 186, 186);
}

#titulo1{
  margin-top: 0px;
}