:root{
  --primary-color: black;
  --secundary-color: green;
}

.container{
  margin: 0px auto;
  max-width: 960px;
}

div, a{
  background: var(--primary-color);
  margin: 20px;
  height: 200px;
  width: 200px;
}

main :nth-child(2n){
  background: var(--secundary-color);
}

div:hover, a:hover{
  background: magenta;
}

.teste{
  background: yellow;
  padding: 5px;
}